.root {
  position: relative;
  top: 3px;
  margin: 0 auto 0 10%;

  @media (max-width: 1076px) {
    margin: 10px 0 20px;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9px 30px;
  padding-left: 37px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  color: darkslategray;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 10px;
  top: 11px;
}

.clearIcon {
  width: 16px;
  height: 16px;
  opacity: 0.3;
  position: absolute;
  right: 12px;
  top: 13px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
